quote {
	color: var(--greentext);
}

spoiler {
  background-color: var(--spoiler);
  color: var(--spoiler);
}

spoiler:hover {
  background-color: var(--background);
  color: black;
}

p {
	margin: 0px;
}

hr {
	border: 0px;
	height: 1px;
	background-color: var(--form-color);
	margin-top: 8px;
	margin-bottom: 8px;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--link);
  text-decoration: underline;
}

a:active {
  color: var(--link);
  text-decoration: underline;
}

.controls {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

.form-line {
	display: table;
	width: 100%;
	border: 0px;
	border-bottom: 0.5px solid var(--form-color);
	border-radius: none;
}

.selection {
	border-bottom: 2px solid var(--spoiler);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6px;
  background-color: var(--background);
}

.boardLink {
	color: var(--maintext);
	text-decoration: none;
	font-size: 18px;
	display: inline-block;
	cursor: pointer;
}

.thread-title {
	font-size: 24px;
	color: var(--title);
	display: inline-block;
}

.post {
	display: flex;
	overflow: auto;
	margin-bottom: 20px;
  margin-right: 10px;
}

.postNumber {
	height: 100%;
	display:inline-block;
	width: 60px;
	cursor: pointer;
}

.number {
	text-align: right;
	font-size: 16px;
	padding-right: 10px;
}

.postBody {
	display: inline-block;
	width: calc(100% - 60px);
}

.name {
	font-size: 18px;
	color: var(--link);
	text-decoration: underline;
	display: inline-block;
}

.name-sage {
	font-size: 18px;
	color: var(--spoiler);
	text-decoration: underline;
	display: inline-block;
}

.postInfo {
	font-size: 16px;
	display: inline-block;
}

.tripId {
	font-size: 16px;
	display: inline-block;
	padding-left: 10px;
}

.second {
	color: var(--spoiler);
}

.postText {
	margin-top: 5px;
  font-size: 16px;
  word-wrap: break-word;
  overflow: hidden;
}

.header {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 30px;
}

.headerImg {
		display: inline;
    width: 300px;
		border: 2px solid var(--form-color);
}

.headerImg_m {
    display: inline;
    width: 100%;
		border: 2px solid var(--form-color);
}

.headerText {
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		margin-top: 8px;
		margin-bottom: 8px;
}

.error {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 30px;
		font-weight: bolder;
}

.main {
		display: block;
		width: 100%;
		margin-bottom: 8px;
		text-align: center;
		position: absolute;
		bottom: 0%;
}

input[type=submit], input[type=text], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

body {
	background-color: var(--background);
  color: var(--maintext);
  padding: 6px;
}

#form-container {
	width: 100%;
}

#atch-form {
	background-color: var(--form-background);
	border: 0.5px solid var(--form-color);
	border-radius: 4px;
	margin-bottom: 5px;
}

.post-form {

}

#name-label {
	color:var(--form-color);
	display:table-cell;
	width:1px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 14px;
}

.atch-button {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 4px;
	width: 100%;
	margin-bottom: 5px;
}

.atch-posts {
	margin-top: 15px;
	margin-bottom: 15px;
}

.btn-pressed {
	background-color: var(--form-background);
	border: 0.5px solid var(--form-color);
	color: var(--form-color);
}

.btn-normal {
	background: linear-gradient(var(--form-background), var(--form-color));
	border: 0.5px solid var(--form-color);
	color: var(--maintext)
}

input[type=text] {
	width: 100%;
	background: transparent;
	border: none;
	font-size: 16px;
}

textarea {
	background: transparent;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
	-moz-box-sizing: border-box; /* FF1+ */
	box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
	resize: none;
	font-size: 16px;
	border: 0px;
}

a, p, #name-label, #new-label, input[type=submit], input[type=text], textarea, error {
	font-family: 'Roboto', sans-serif;
}
