<div class="selection">
	<a id="nav-main" href="/" style="display: inline-block; color: var(--link);">Main</a>
	<p style="display: inline-block;">/ Boards: </p>
	{% for board in localBoards %}
		[<a id="nav-board" href="/{{ board.link }}" style="display: inline-block; color: var(--link);">{{ board.link }}</a>]
	{% endfor %}
  <p style="display: inline-block;">/ Code theme: </p>
  <select id="code_theme" onchange="setCHStyle(this.options[this.selectedIndex].value)">
		{% autoescape off %}
		{% for value in dropCodeThemes %}
			<option value="{{ value.0 }}"{{ value.1 }}>{{ value.0 }}</option>
		{% endfor %}
		{% endautoescape %}
	</select>
  <p style="display: inline-block;">/ Theme: </p>
  <select id="theme" onchange="setStyle(this.options[this.selectedIndex].value)">
		{% autoescape off %}
		{% for value in dropThemes %}
			<option value="{{ value.0 }}"{{ value.1 }}>{{ value.0 }}</option>
		{% endfor %}
		{% endautoescape %}
	</select>
</div>
