	<div class="selection">
		<a href="/" style="display: inline-block; color: var(--link);">Main</a>
		<p style="display: inline-block;">/ </p>
		<select onchange="document.location=this.options[this.selectedIndex].value">
			<optgroup label="Navigation">
				<option value='/'>Main</option>
			</optgroup>
			{% autoescape off %}
			{% for key, value in dropList %}
				<optgroup label="{{ key }}">
						{% for board in value %}
								<option value="/{{ board.0 }}"{{ board.1 }}>/{{ board.0 }}/</option>
						{% endfor %}
				</optgroup>
			{% endfor %}
			{% endautoescape %}
		</select>
    <p style="display: inline-block;">/ </p>
    <select id="code_theme" onchange="setCHStyle(this.options[this.selectedIndex].value)">
			{% autoescape off %}
			{% for value in dropCodeThemes %}
				<option value="{{ value.0 }}"{{ value.1 }}>{{ value.0 }}</option>
			{% endfor %}
			{% endautoescape %}
		</select>
    <p style="display: inline-block;">/ </p>
    <select id="theme" onchange="setStyle(this.options[this.selectedIndex].value)">
			{% autoescape off %}
			{% for value in dropThemes %}
				<option value="{{ value.0 }}"{{ value.1 }}>{{ value.0 }}</option>
			{% endfor %}
			{% endautoescape %}
		</select>
	</div>
